.footer {
  background-color: $color-primary-dark;
  color: $color-light-blue;
  font-size: 14px;
  padding: 20px 40px;
  @media only screen and (max-width: 992px) {
    text-align: center;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__social-media {
    display: inline-block;
    i {
      color: $color-light-blue;
      font-size: 16px;
    }
  }
}
