.header {
  background: url(../img/person-cheering.png),
    linear-gradient(90deg, #352c98 0%, #c1b7ff 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 50px;
  padding-bottom: 250px;

  @media only screen and (max-width: 992px) {
    background: url(../img/person-cheering-mobile.png),
      linear-gradient(90deg, #352c98 0%, #c1b7ff 100%);
    background-repeat: no-repeat;
    background-position: bottom left 17%;
    padding: 30px 9px 150px 9px;
  }
  &__text {
    max-width: 600px;

    h3 {
      font-size: 22px;
      font-weight: 400;
    }

    span {
      display: inline-block;
      color: $color-secondary;
      font-weight: 700;
      font-size: 22px;
    }

    .lead {
      color: white;
      max-width: 487px;
      text-align: left;
    }
  }
}
